


.flex-box{
    display: flex;
    width: 800px;
    height: 500px !important;
height: auto;
    background-color: lightpink;
    align-items:center;
justify-content: space-evenly;
flex-direction: column;


}


.circle{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}

.circle:hover{
    background-color: red;
    scale: 0;;
}


.product:hover{
    background-color: yellow;
   
  scale:0;
}


.circle1{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    border-radius:50%;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: 3;
    animation-direction: alternate-reverse;
}

@keyframes move{
    0% {transform: translateX(0px);
    background-color: lightgreen;}
25% {transform: translateX(400px);
    background-color: orange;}
    50% {transform: translateX(800px);
    background-color: red;}
    100%{
        transform: translateX(1000px);
        background-color: black;
    }
}

.square{
    width: 100px;
    height: 100px;
    background-color: lightyellow;
    animation-name: rotate;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
}

@keyframes rotate {
    0% {
        left: 0px;
        top: 0px;
        background-color: lightyellow;
    }
    25%{
        left: 300px;
        top: 0px;
        background-color: orange;
    }
    50%{
        left: 300px;
        top: 100px;
        background-color: red;
    }
    100%{
        left: 0px;
        top: 0px;
        background-color: black;
    }

}